*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    /* height: 400px; */
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}
.row{
display: flex;
justify-content: space-between;
}
.first{
    width: 100%;
    padding: 100px 0;
    background-color: aliceblue;
}

.col{
    margin-top:2rem;
}
.second{
    width: 100%;
     padding:30px 0;
    background-color:rgb(177, 226, 228);
}
.second_title{
    text-align: center;
}
.third{
    background-color:skyblue ;
    width: 100%;
}
.twidth{
    width: 60%;
}
img{
    width: 50vh;
    max-width: 100%;
}
.fourth{
    background-color: rgb(113, 193, 224);
    width: 100%;
}
@media (max-width:600px) {
    .row{
        display:block;
    }
    img{
        width: 80%;
        margin-top: 2rem;
    }
    .col{
        margin-top:0;
        padding: 10px 0;
        width: 90%;
    }
    .second_title,
    .heading{
        width: 85%;
    }
    .first_title,
    .heading{
        text-align: center;
    }
    .first,
    .second{
        width: 90%;
    }
}